<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionratingapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2154a77f-cd9c-45c8-8469-bbd102d0531c/resourcegroups/rg-Hacker2-Team3/providers/Microsoft.Web/sites/FunctionRatingApp</ResourceId>
    <UserName>$FunctionRatingApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionratingapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>